body {
    background: url('/data/assets/mapFond.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
  }

.container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

#map-container {
    position: relative;
    background: #0000007c;
  }

button {
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Pixelify Sans', sans-serif;
}

button:hover {
    background: #2563eb;
}

#map {
    display: block;
    margin: auto;
    image-rendering: pixelated;
    filter: contrast(250%) brightness(1.2) saturate(2);
    mix-blend-mode: screen;
  }
  
 
  
  .pixel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#1a1a1a 1px, transparent 1px);
    background-size: 4px 4px;
    opacity: 0.1;
    pointer-events: none;
    z-index: 100;
  }
  
/* Info dans un coin comme un HUD */
.info-box {
    position: absolute;
    bottom: 20px;
    left: 50px;
    background: rgba(5, 5, 77, 0.8);
    padding: 1.5rem;
    border-radius: 12px;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
    color: white;
    box-shadow: 0 0 12px #000;
    z-index: 30;
    max-width: 300px;
  }
  
  .info-box h2 {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
    text-shadow: 0 0 4px #15e3fa;
  }
  
  .info-box p {
    font-size: 0.7rem;
    color: #f0f0f0;
    margin-bottom: 1rem;
  }
  
  .info-box button {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.6rem;
    color: #0a0a3d;
    background-color: #15e3fa;
    border: 3px solid #0a0a3d;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 5px #15e3fa, 0 0 10px #facc15;
    transition: all 0.3s ease;
  }
  
  .info-box button:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px #fff, 0 0 20px #facc15;
  }
  
  
  /* Fusée  */
  #rocket {
    position: absolute;
    width: 90px; 
    top: 320px;
    left: 100px;
    z-index: 50;
    transition: all 0.8s ease-in-out;
  }
  
  #cockpit-chart svg {
    background: radial-gradient(circle, #0a0a3d00 0%, #05052800 100%);
    border-radius: 50%;
    box-shadow: 0 0 30px #15fafa00, inset 0 0 10px #1a1a1a00;
    margin: auto;
     margin-top: 3rem;
    display: block;
  }
  #cockpit-chart svg {
    animation: hover-ship 3s ease-in-out infinite;
  }
  
  @keyframes hover-ship {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  