body {
    background-color: #5454e7;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#map-container {
    position: relative;
    background: #0c0c4f;
  }

button {
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Pixelify Sans', sans-serif;
}

button:hover {
    background: #2563eb;
}

#map {
    display: block;
    margin: auto;
    image-rendering: pixelated;
    filter: contrast(250%) brightness(1.2) saturate(2);
    mix-blend-mode: screen;
  }
  
  #rocket {
    position: absolute;
    width: 60px;
    top: 340px;
    left: 100px;
    z-index: 50;
    transition: all 0.8s ease-in-out;
  }
  .pixel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#1a1a1a 1px, transparent 1px);
    background-size: 4px 4px;
    opacity: 0.1;
    pointer-events: none;
    z-index: 100;
  }
  